<div class="page-header">
    <h1>Applications</h1>
</div>

<div class="col-sm-9 content-area">

    <form action="http://localhost:8180/auth/realms/master/account/revoke-grant" method="post">
        <input id="stateChecker" name="stateChecker" value="7L6A5K0Mghuc4cm2DBF78rIMI5140AnKc01_q3Pj-4o" type="hidden">
        <input id="referrer" name="referrer" value="7L6A5K0Mghuc4cm2DBF78rIMI5140AnKc01_q3Pj-4o" type="hidden">

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>Application</td>
                <td>Available Permissions</td>
                <td>Granted Permissions</td>
                <td>Granted Personal Info</td>
                <td>Additional Grants</td>
                <td>Action</td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <a href="/auth/realms/master/account">
                        Account
                    </a>
                </td>

                <td>

                    View profile
                    in <strong>Account</strong>
                    ,
                    Manage account
                    in <strong>Account</strong>

                </td>

                <td>
                    <strong>Full Access</strong>
                </td>

                <td>
                    <strong>Full Access</strong>
                </td>

                <td>
                </td>

                <td>
                </td>
            </tr>
            <tr>
                <td>

                    Admin CLI

                </td>

                <td>
                    Admin

                </td>

                <td>
                    <strong>Full Access</strong>
                </td>

                <td>
                    <strong>Full Access</strong>
                </td>

                <td>
                </td>

                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/auth/admin/master/console/index.html">
                        Security Admin Console
                    </a>
                </td>

                <td>
                    Admin

                </td>

                <td>
                    <strong>Full Access</strong>
                </td>

                <td>
                    <strong>Full Access</strong>
                </td>

                <td>
                </td>

                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>