<div class="page-header">
    <h1>Sessions</h1>
</div>

<div class="col-sm-9 content-area">

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>IP</td>
            <td>Started</td>
            <td>Last Access</td>
            <td>Expires</td>
            <td>Clients</td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>127.0.0.1</td>
            <td>Apr 17, 2017 7:30:58 PM</td>
            <td>Apr 17, 2017 7:33:05 PM</td>
            <td>Apr 18, 2017 5:30:58 AM</td>
            <td>
                account<br>
            </td>
        </tr>
        </tbody>

    </table>

    <a id="logout-all-sessions" href="#">Log out all sessions</a>

</div>